/* DEFAULTS */
html,body {
	width: 100%;
	height: 100%;
}

body {
	color: black;
	background-color: white;
	font-family: 'Josefin Sans', sans-serif;
}

label {
	display: none !important;
}

h1,h2,h3,h4,h5,h6 {
	color: #086b99;
}

h1.alt,h2.alt,h3.alt,h4.alt,h5.alt,h6.alt {
	color: white !important;
}

h1 {
	text-transform: uppercase;
}

h1.no-upper {
	text-transform: none !important;
}

h1,h2 {
	font-size: 1.2em;
	text-shadow: 1px 1px #aaaaaa;
}

h4 {
	font-size: 0.9em;
	font-weight: normal !important;
	margin: 0.2em 0 !important;
}

h1,h2,p {
	margin: 0.6em 0 !important;
}

.hr {
	display: block;
	width: 40%;
	height: 1px;
	margin: 10px auto; border-bottom : 1px solid #086b99;
	box-shadow: 1px 1px #888888;
	border-bottom: 1px solid #086b99;
}

.hr.alt {
	border-bottom: 1px solid white;
}

em {
	font-style: italic !important;
}

strong {
	font-weight: bold !important;
}

a,a:link {
	color: #0ba0e6;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: #086b99;
}

a.anchor {
	display: block;
	position: relative;
	top: -50px;
	visibility: hidden;
}

/* TWEAKS */
.pure-img-responsive {
	max-width: 100%;
	height: auto;
}

.pure-button {
	height: 24px;
	line-height: 20px;
	font-size: 16px;
	text-transform: uppercase;
}

a:hover.pure-button {
	text-decoration: none;
}

.pure-button-primary {
	background-color: white !important;
}

.pure-menu-selected a {
	cursor: default;
}

.pure-menu-selected a:hover {
	text-decoration: none !important;
}

/* STYLES */
.fancy {
	font-family: 'Allura', sans-serif !important;
}

/* STRUCTURE */
.home-menu {
	height: 49px;
	color: white !important;
	background-color: #086B99 !important;
	border-bottom: 1px solid #2dd5ff !important;
	z-index: 4 !important;
}

.home-menu .pure-menu-heading {
	color: white !important;
	font-size: 1.7em !important;
	text-transform: none !important;
	text-shadow: 1px 1px #555555;
}

.home-menu .pure-menu-heading>* {
	display: inline-block;
	float: left;
	margin-right: 10px;
}

.home-menu>* {
	margin-top: 2px !important;
}

.home-menu>ul {
	float: right;
}

.home-menu li>a {
	color: white !important;
	text-shadow: 1px 1px #555555;
}

.home-menu li.pure-menu-selected>a {
	color: #dddddd !important;
	text-shadow: 1px 1px #666666;
}

.home-menu li>a:hover {
	background: transparent !important;
}

.back-to-top {
	position: fixed;
	bottom: 5px;
	right: 5px;
	padding: 0 5px 5px 5px;
	background-color: #086B99;
	border-radius: 5px;
	z-index: 7;
	display: none;
}

.back-to-top>a {
	text-decoration: none;
	color: white;
}

/* REACTIVE */

@media ( min-width : 48px) {
	body {
		font-size: 16px;
	}
}