/* DEFAULTS */
html,body {
	width: 100%;
	height: 100%;
}

body {
	color: black;
	background-color: white;
	font-family: 'Josefin Sans', sans-serif;
}

label {
	display: none !important;
}

h1,h2,h3,h4,h5,h6 {
	color: #086b99;
}

h1.alt,h2.alt,h3.alt,h4.alt,h5.alt,h6.alt {
	color: white !important;
}

h1 {
	text-transform: uppercase;
}

h1.no-upper {
	text-transform: none !important;
}

h1,h2 {
	font-size: 1.2em;
	text-shadow: 1px 1px #aaaaaa;
}

h4 {
	font-size: 0.9em;
	font-weight: normal !important;
	margin: 0.2em 0 !important;
}

h1,h2,p {
	margin: 0.6em 0 !important;
}

.hr {
	display: block;
	width: 40%;
	height: 1px;
	margin: 10px auto; border-bottom : 1px solid #086b99;
	box-shadow: 1px 1px #888888;
	border-bottom: 1px solid #086b99;
}

.hr.alt {
	border-bottom: 1px solid white;
}

em {
	font-style: italic !important;
}

strong {
	font-weight: bold !important;
}

a,a:link,a:visited {
	color: #0ba0e6;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a.anchor {
	display: block;
	position: relative;
	top: -49px;
	visibility: hidden;
}

/* TWEAKS */
.pure-img-responsive {
	max-width: 100%;
	height: auto;
}

.pure-button {
	height: 24px;
	line-height: 20px;
	font-size: 16px;
	text-transform: uppercase;
}

a:hover.pure-button {
	text-decoration: none;
}

input.pure-button, button.pure-button {
	position: relative;
	top: 2px;
	height: 37px;
}

.pure-button-primary {
	background-color: white !important;
}

input.pure-button-primary, button.pure-button-primary {
	color: #0ba0e6;
	font-weight: bold;
}

.pure-menu-selected a {
	cursor: default;
}

.pure-menu-selected a:hover {
	text-decoration: none !important;
}

.pure-g {
	font-family: 'Josefin Sans', sans-serif !important;
}

.pure-g [class *="pure-u"] {
	font-family: 'Josefin Sans', sans-serif !important;
}

.pure-u-1 {
	box-sizing: border-box;
	padding: 1em;
}

.pure-u-lrg-1-4 {
	width: 25%;
}

/* STYLES */
.fancy {
	font-family: 'Allura', sans-serif !important;
}

.section {
	padding: 3em;
	text-align: center;
}

.section.small {
	padding: 1em;
}

.section.highlight {
	color: white !important;
	background-color: #333333 !important;
}

.section.highlight h1, .section.highlight h2, .section.highlight h3, .section.highlight h4 {
	color: white !important;
}

.content {
	box-sizing: border-box;
}

.content>h1,.content>h2,.content>h3,.content>h4 {
	text-align: center;
}

/* STRUCTURE */
.home-menu {
	height: 49px;
	color: white !important;
	background-color: #086B99 !important;
	border-bottom: 1px solid #2dd5ff !important;
	z-index: 4 !important;
}

.home-menu .pure-menu-heading {
	color: white !important;
	font-size: 1.7em !important;
	text-transform: none !important;
	text-shadow: 1px 1px #555555;
}

.home-menu .pure-menu-heading>* {
	display: inline-block;
	float: left;
	margin-right: 10px;
}

.home-menu>* {
	margin-top: 2px !important;
}

.home-menu>ul {
	float: right;
}

.home-menu li>a {
	padding: 5px 0 !important;
	margin: 0 10px !important;
	color: white !important;
	text-shadow: 1px 1px #555555;
}
.home-menu li:last-child>a {
	margin: 0 25px 0 10px !important;
}

.home-menu li.pure-menu-selected>a {
	color: #dddddd !important;
	text-shadow: 1px 1px #666666;
}

.home-menu li>a:hover {
	background: transparent !important;
}

.content-container {
	box-sizing: border-box;
	background-color: white;
}

.back-to-top {
	position: fixed;
	bottom: 5px;
	right: 5px;
	padding: 0 5px 5px 5px;
	background-color: #086B99;
	border-radius: 5px;
	z-index: 7;
	display: none;
}

.back-to-top>a {
	text-decoration: none;
	color: white;
}

/* REACTIVE */

@media ( min-width : 48px) {
	body {
		font-size: 16px;
	}
}